{% extends "credits_platform/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css'%}>"
{% endblock %}

{% block body %}

{% if user.is_authenticated %}
<form action="/account-details/" method="post">
    {% csrf_token %}
    <label for="userid">User id to get account details</label>
    <input id="userid" type="text" name="pk">
    <input type="submit" value="OK">
</form>
{% endif %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% if userid %}
    User id = {{userid}} <br>
{% endif %}
{% if balance %}
    Balance = {{balance}} <br>
{% endif %}
{% if account_type %}
    Type = {{account_type}} <br>
{% endif %}

{% endblock %}
